In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datasets/NISPUF17.csv", index_col= 0)
df

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

EDUC1 â€“ education of the mother  
* <12 years : 1 (n = 2904)
* 12 years : 2 (n = 4906)
* greater than >12 years, not a college graduate : 3 (n = 6999)
* College graduate : 4 (n = 13656)

In [3]:
def proportion_of_education():
    dic = {"less than high school" : len(df["EDUC1"][df["EDUC1"] == 1]) / len(df),
          "high school" : len(df["EDUC1"][df["EDUC1"] == 2]) / len(df),
          "more than high school but not college" : len(df["EDUC1"][df["EDUC1"] == 3]) / len(df),
          "college" : len(df["EDUC1"][df["EDUC1"] == 4]) / len(df)}
    
    return dic

    raise NotImplementedError()

In [4]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [5]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

CBF_01 â€“ child ever fed breast milk

* Yes : 1
* No : 2

P_NUMVRC â€“ total number of varicella doses

In [6]:
def average_influenza_doses():
    new_df = df[['CBF_01', 'P_NUMFLU']]
    
    with_breast_milk_df = new_df[new_df["CBF_01"] == 1] # category 1 
    yes_mean = with_breast_milk_df["P_NUMFLU"].mean()
    
    without_breast_milk_df = new_df[new_df["CBF_01"] == 2] # category 2
    no_mean = without_breast_milk_df["P_NUMFLU"].mean()

    return (yes_mean, no_mean)

    raise NotImplementedError()

In [7]:
average_influenza_doses() # 1.0298833518816206

(1.8799187420058687, 1.5963945918878317)

In [8]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

SEX â€“ sex of child

* male : 1 (n = 14717)
* female : 2 (n = 13748)

HAD_CPOX â€“ did child ever have chicken pox

* Yes : 1
* No : 2

P_NUMFLU â€“ total number of seasonal influenza doses

In [9]:
def chickenpox_by_sex():
    new_df = df[["SEX", "HAD_CPOX", "P_NUMVRC"]]
    new_df = new_df[new_df["P_NUMVRC"] > 0] # we only want the information of presons who injected at least one varicella dose
    
    male_df = new_df[new_df["SEX"] == 1] # category 1
    female_df = new_df[new_df["SEX"] == 2] # category 2
    
    male_ratio = len(male_df[male_df["HAD_CPOX"] == 1]) / len(male_df[male_df["HAD_CPOX"] == 2])
    female_ratio = len(female_df[female_df["HAD_CPOX"] == 1]) / len(female_df[female_df["HAD_CPOX"] == 2])
    
    return {"male" : male_ratio,
            "female" : female_ratio}

    raise NotImplementedError()

In [10]:
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [11]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer.The`had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more noâ€™s) would also increase the values of`num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isnâ€™t really the full picture, since we are not looking at when the dose was given. Itâ€™s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [12]:
new_df = df[["HAD_CPOX", "P_NUMVRC"]] # 2: 28357
len(new_df)

28465

In [13]:
len(new_df[new_df["HAD_CPOX"] == 1])

402

In [14]:
len(new_df[new_df["HAD_CPOX"] == 2])

27955

In [15]:
402 + 27955

28357

In [16]:
28465 - 28357 # what is this 108 items ?

108

In [17]:
len(new_df[new_df["HAD_CPOX"].isna() == True]) # we don't have any missing value in the "HAD_CPOX" cloumn of the new_df

0

In [18]:
new_df[~new_df["HAD_CPOX"].isin(range(1,3))] # that 108 items are a number of nonsense values '77'.

       HAD_CPOX  P_NUMVRC
222          77       1.0
223          77       1.0
550          77       1.0
654          77       1.0
756          77       NaN
...         ...       ...
27490        77       NaN
27573        77       1.0
27825        77       1.0
28133        77       NaN
28282        77       NaN

[108 rows x 2 columns]

In [19]:
def corr_chickenpox():
    import scipy.stats as stats
    
    new_df = df[["HAD_CPOX", "P_NUMVRC"]]
    new_df = new_df[new_df["HAD_CPOX"] <= 2]
    new_df = new_df[~new_df["P_NUMVRC"].isna() & ~new_df["HAD_CPOX"].isna()] # for removing NaNs, we write this code
    
    corr, pval= stats.pearsonr(new_df["HAD_CPOX"], new_df["P_NUMVRC"])
    
    return corr

    raise NotImplementedError()

In [22]:
corr_chickenpox()

0.07044873460148016

In [21]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."