<br>
Use `type` to return the object's type.

In [1]:
type("this is a sample string")

str

In [2]:
type(None)

NoneType

In [3]:
type(1.3)

float

In [5]:
type(1)

int

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [6]:
def add_numbers(x, y):
    return x + y

type(add_numbers)

function

<br>
Tuples are an immutable data structure (cannot be altered).

In [7]:
alpha= (1, "a", 2, "b")
type(alpha)

tuple

<br>
Lists are a mutable data structure.

In [58]:
alpha= [1, "a", 2, "b"]
type(alpha)

list

<br>
Use `append` to append an object to a list.

In [69]:
alpha.append(3.4)

<br>
This is an example of how to loop on each items in the list using the for loop.

In [70]:
for item in alpha:
    print(item)

1
a
2
b
3.4

<br>
This is an example of how to loop on each items in the list using and the while loop and the indexing operator.

In [71]:
i=0
while( i != len(alpha) ):
    print(alpha[i])
    i = i + 1

1
a
2
b
3.4

# the plus operator

<br>
Use `+` to concatenate lists.

In [14]:
[1,2,3] + [1,2,3]

[1, 2, 3, 1, 2, 3]

# the asterisk operator
<br>
Use `*` to repeat lists.

In [12]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [13]:
[1,1,1] * 4

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [16]:
1 in [1,2,3]

True

In [17]:
4 in [1,2,3]

False

# 1. Manipulating Strings with Slicing
<br>slicing strings which is done with the indexing operator.
<br>the indexing operator which is shown with the square bracket.

In [ ]:
txt= "this is a sample string"
print(txt[0])
print(txt[0:1])
print(txt[1:3])

<br>
This will return the last element of the string.

In [19]:
txt[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [20]:
txt[-4: -2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 4rd element.

In [21]:
txt[:4]

'this'

<br>
this is a slice starting from the 5th element of the string and going all the way to the end.

In [22]:
txt[5:]

'is a sample string'

In [23]:
myFullName= 'Amir Hosein Sedaghati'
myFullName[5:11]

'Hosein'

In [31]:
firstName= "Amir Hosein"
lastName= "Sedaghati"

print(firstName + ' ' + lastName)
print(firstName * 3)
print('se' in firstName)
print('q' in lastName)

Amir Hosein Sedaghati
Amir HoseinAmir HoseinAmir Hosein
True
False

# 2. Manipulating Strings with split function

<br>
`split` returns a list of all the words in a string

In [41]:
firstName= "Amir Hosein sedaghati"[:11] 
lastName= "Amir Hosein sedaghati".split(' ')[-1] # [-1] selects the last element of the list

print(firstName)
print(lastName)
print(firstName + ' ' + lastName)

Amir Hosein
sedaghati
Amir Hosein sedaghati

<br>
Make sure you have converted objects to strings before concatenating.

In [78]:
'amir' + 2

TypeError: can only concatenate str (not "int") to str

In [44]:
"amir" + str(7)

'amir7'

<br>
Dictionaries associate keys with values.

In [81]:
x= {"amir hosein sedaghati": "amirhosseinsedaghati42@gmail.com", "reza avar": "rezaavar@gmail.com"}

x["amir hosein sedaghati"]

'amirhosseinsedaghati42@gmail.com'

<br>
add a new item into a dictionary with the indexing operator:

In [47]:
x["bill gates"]= "billg@microsoft.com"
x["bill gates"]

'billg@microsoft.com'

<br>
Iterate over all of the keys in the list:

In [48]:
for key in x:
    print(x[key])

amirhosseinsedaghati42@gmail.com
rezaavar@gmail.com
billg@microsoft.com

<br>
Iterate over all of the values in the list:

In [49]:
for value in x.values():
    print(value)

amirhosseinsedaghati42@gmail.com
rezaavar@gmail.com
billg@microsoft.com

<br>
Iterate over all of the items in the list:

In [50]:
for key, value in x.items():
    print(f"{key} : {value}")

amir hosein sedaghati : amirhosseinsedaghati42@gmail.com
reza avar : rezaavar@gmail.com
bill gates : billg@microsoft.com

# unpacking

<br>
We can unpack the content of a sequence into different variables.

In [51]:
x= ("Amir Hosein", "Sedaghati", "amirhosseinsedaghati42@gmail.com")
firstName, lastName, email = x

print(firstName)
print(lastName)
print(email)

Amir Hosein
Sedaghati
amirhosseinsedaghati42@gmail.com

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [53]:
ex= ["reza", "avar", "rezaavar@gmail.com", "bill gates"]
firstName, lastName, email = ex

print(firstName)
print(lastName)
print(email)

ValueError: too many values to unpack (expected 3)