# q1 :


Consider the given NumPy arrays a and b. What will be the value of c after the following code is executed?

In [1]:
import numpy as np

In [2]:
a = np.arange(8)
b = a[4:6] # 'b' is a subarray of 'a'
b[:] = 40
c= a[4] + a[6]

In [3]:
print("a = "+ str(a))
print("b = {}".format(b))
print('c = {}'.format(c))

a = [ 0  1  2  3 40 40  6  7]
b = [40 40]
c = 46

# q2 :

Given the string s as shown below, which of the following expressions will be True?

In [4]:
import re
s = 'ABCAC'

In [5]:
re.split('A', s)

['', 'BC', 'C']

In [7]:
len(re.search('A', s))

TypeError: object of type 're.Match' has no len()

In [8]:
bool(re.match('A', s)) == True

True

In [9]:
re.match('A', s) == True

False

# q3 :

Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA .

In [125]:
def answer_three():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    pattern = '([A-S])(?=A{3})'
    for item in re.finditer(pattern, s):
        # identify groups
        result.append(item.group())
      
    return result

answer_three()

['C', 'F', 'B']

# q4 :

identify All of expressions have the same value except one expression.

In [44]:
import pandas as pd

In [45]:
series = pd.Series([4, 7, -5, 3], ['d', 'b', 'a', 'c'])
series

d    4
b    7
a   -5
c    3
dtype: int64

In [46]:
series.iloc[0]

4

In [47]:
series[0]

4

In [48]:
series.index[0]

'd'

In [49]:
series['d']

4

# q5 :

Consider the two pandas Series objects shown above, representing the no. of items of different yogurt flavors that were sold in a day from two different stores, s1 and s2. Which of the following statements is True regarding the Series s3 defined below?

In [75]:
s1 = pd.Series([20, 15, 18, 31],
               ['Mango', 'Strawberry', 'Blueberry', 'Vanilla'])
s2 = pd.Series([20, 30, 15, 20, 20],
              ['Strawberry', 'Vanilla', 'Banana', 'Mango', 'Plain'])
s3 = s1.add(s2)
s3

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [76]:
s3['Plain'] >= s3['Mango']

False

In [77]:
s3['Mango'] >= s1.add(other= s2, fill_value= 0)['Mango']

True

In [78]:
s3['Blueberry'] == s1.add(s2, fill_value= 0)['Blueberry']

False

In [81]:
s3['Blueberry'] == s1['Blueberry']

False

# q6 :

In [83]:
df = pd.DataFrame([np.random.random(100) for item in range(100)])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.749343,0.062660,0.564687,0.271248,0.648471,0.852326,0.840339,0.844134,0.758372,0.040962,...,0.837836,0.381429,0.515857,0.303484,0.583150,0.307272,0.373399,0.187103,0.397417,0.186456
1,0.040605,0.618271,0.588981,0.986315,0.351138,0.591995,0.849757,0.720434,0.541742,0.071283,...,0.536766,0.002318,0.490822,0.413330,0.822984,0.958306,0.424656,0.580428,0.618606,0.653447
2,0.887539,0.769327,0.514628,0.153016,0.477902,0.672530,0.189727,0.604668,0.275175,0.888092,...,0.806334,0.856026,0.048334,0.122111,0.503989,0.827649,0.431314,0.015496,0.281287,0.028421
3,0.774927,0.969037,0.832165,0.561759,0.214281,0.857542,0.852827,0.252099,0.707878,0.489704,...,0.585040,0.030889,0.265946,0.196720,0.425469,0.935086,0.441454,0.189439,0.197862,0.071036
4,0.592631,0.992634,0.238636,0.319526,0.039668,0.651133,0.230234,0.488629,0.570719,0.703891,...,0.607742,0.832683,0.435565,0.472435,0.142551,0.296564,0.797406,0.176874,0.652124,0.195166

Every time we call df.set_index(), the old index will be discarded.

In [85]:
df.set_index(0).set_index(1)

,2,3,4,5,6,7,8,9,10,11,...,90,91,92,93,94,95,96,97,98,99
1,,,,,,,,,,,,,,,,,,,,,
0.062660,0.564687,0.271248,0.648471,0.852326,0.840339,0.844134,0.758372,0.040962,0.337995,0.602505,...,0.837836,0.381429,0.515857,0.303484,0.583150,0.307272,0.373399,0.187103,0.397417,0.186456
0.618271,0.588981,0.986315,0.351138,0.591995,0.849757,0.720434,0.541742,0.071283,0.947294,0.344809,...,0.536766,0.002318,0.490822,0.413330,0.822984,0.958306,0.424656,0.580428,0.618606,0.653447
0.769327,0.514628,0.153016,0.477902,0.672530,0.189727,0.604668,0.275175,0.888092,0.833369,0.522054,...,0.806334,0.856026,0.048334,0.122111,0.503989,0.827649,0.431314,0.015496,0.281287,0.028421
0.969037,0.832165,0.561759,0.214281,0.857542,0.852827,0.252099,0.707878,0.489704,0.495154,0.528608,...,0.585040,0.030889,0.265946,0.196720,0.425469,0.935086,0.441454,0.189439,0.197862,0.071036
0.992634,0.238636,0.319526,0.039668,0.651133,0.230234,0.488629,0.570719,0.703891,0.198641,0.385561,...,0.607742,0.832683,0.435565,0.472435,0.142551,0.296564,0.797406,0.176874,0.652124,0.195166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.707745,0.246967,0.194290,0.249919,0.048454,0.998263,0.693023,0.356434,0.080067,0.517043,0.503789,...,0.416404,0.949692,0.485381,0.926619,0.479355,0.867280,0.266985,0.667168,0.707919,0.249292
0.310003,0.146046,0.251770,0.876462,0.127422,0.799907,0.968555,0.448510,0.238136,0.103509,0.302535,...,0.759691,0.511331,0.838171,0.159348,0.219285,0.623250,0.205688,0.040556,0.867998,0.527901
0.870771,0.986362,0.561609,0.203568,0.747194,0.675158,0.213213,0.715934,0.288649,0.496999,0.350961,...,0.356584,0.841388,0.489683,0.508162,0.358480,0.024890,0.410743,0.382740,0.136359,0.224419
0.312897,0.200640,0.026629,0.143094,0.605778,0.643815,0.417127,0.072187,0.153177,0.114676,0.463983,...,0.300384,0.399093,0.833935,0.371166,0.667144,0.360004,0.787795,0.536079,0.803890,0.568520
0.452718,0.565357,0.513662,0.751168,0.620178,0.531218,0.300324,0.052756,0.598333,0.095602,0.496574,...,0.977825,0.130846,0.163798,0.515177,0.629770,0.091870,0.193908,0.716767,0.579764,0.182621

Every time we call df.reset_index(), the old index will be set as a new column.

In [88]:
df.set_index(0).set_index(1).reset_index()

,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
0,0.062660,0.564687,0.271248,0.648471,0.852326,0.840339,0.844134,0.758372,0.040962,0.337995,...,0.837836,0.381429,0.515857,0.303484,0.583150,0.307272,0.373399,0.187103,0.397417,0.186456
1,0.618271,0.588981,0.986315,0.351138,0.591995,0.849757,0.720434,0.541742,0.071283,0.947294,...,0.536766,0.002318,0.490822,0.413330,0.822984,0.958306,0.424656,0.580428,0.618606,0.653447
2,0.769327,0.514628,0.153016,0.477902,0.672530,0.189727,0.604668,0.275175,0.888092,0.833369,...,0.806334,0.856026,0.048334,0.122111,0.503989,0.827649,0.431314,0.015496,0.281287,0.028421
3,0.969037,0.832165,0.561759,0.214281,0.857542,0.852827,0.252099,0.707878,0.489704,0.495154,...,0.585040,0.030889,0.265946,0.196720,0.425469,0.935086,0.441454,0.189439,0.197862,0.071036
4,0.992634,0.238636,0.319526,0.039668,0.651133,0.230234,0.488629,0.570719,0.703891,0.198641,...,0.607742,0.832683,0.435565,0.472435,0.142551,0.296564,0.797406,0.176874,0.652124,0.195166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.707745,0.246967,0.194290,0.249919,0.048454,0.998263,0.693023,0.356434,0.080067,0.517043,...,0.416404,0.949692,0.485381,0.926619,0.479355,0.867280,0.266985,0.667168,0.707919,0.249292
96,0.310003,0.146046,0.251770,0.876462,0.127422,0.799907,0.968555,0.448510,0.238136,0.103509,...,0.759691,0.511331,0.838171,0.159348,0.219285,0.623250,0.205688,0.040556,0.867998,0.527901
97,0.870771,0.986362,0.561609,0.203568,0.747194,0.675158,0.213213,0.715934,0.288649,0.496999,...,0.356584,0.841388,0.489683,0.508162,0.358480,0.024890,0.410743,0.382740,0.136359,0.224419
98,0.312897,0.200640,0.026629,0.143094,0.605778,0.643815,0.417127,0.072187,0.153177,0.114676,...,0.300384,0.399093,0.833935,0.371166,0.667144,0.360004,0.787795,0.536079,0.803890,0.568520
99,0.452718,0.565357,0.513662,0.751168,0.620178,0.531218,0.300324,0.052756,0.598333,0.095602,...,0.977825,0.130846,0.163798,0.515177,0.629770,0.091870,0.193908,0.716767,0.579764,0.182621

# q7 :

Consider the Series object S defined below. Which of the following is an incorrect way to slice S such that we obtain all data points corresponding to the indices 'b', 'c', and 'd'?

In [93]:
S = pd.Series(np.arange(5), index= ['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [94]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [95]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [97]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [98]:
S[1:4]

b    1
c    2
d    3
dtype: int32

# q8 : 

Consider the DataFrame df shown above with indexes 'R1', 'R2', 'R3', and 'R4'.  In the following code, a new DataFrame df_new is created using df. What will be the value of df_new[1] after the below code is executed?

In [105]:
df = pd.DataFrame({'a': [5, 5, 71, 67],
                  'b': [6, 82, 31, 37],
                  'c': [20, 28, 92, 49]},
                 index= ['R1', 'R2', 'R3', 'R4'])
new_df = df.apply(lambda x: x.max() + x.min())
new_df

a     76
b     88
c    112
dtype: int64

In [106]:
new_df[1]

88

# q9 :

In [124]:
df = pd.DataFrame({'Item': ['item_1', 'item_1', 'item_1',
                           'item_2', 'item_2', 'item_2'],
                  'Store': ['A', 'B', 'C', 'A', 'B', 'C'],
                  'Quantity sold': [10.0, 20.0, np.nan,
                                   5.0, 10.0, 15.0]})

num = int(df.groupby('Item').sum().iloc[0]['Quantity sold'])
num

30